.figs {
  display: none;
  width: 20px;
  height: 20px;
}

.animate3 {
  display: block;
  animation: spin 2s infinite linear reverse;
  -webkit-animation: spin 2s infinite linear reverse;
}

.figs:hover {
  display: none;
}
