* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: first 10s 1;
  -webkit-animation: first 5s 1;
}
.animate1 {
  animation: background 2s infinite;
  -webkit-animation: background 2s infinite;
}
