* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-animation-name: example;
  -webkit-animation-duration: 20s;
}

@-webkit-keyframes example {
  from {background-color: black;}
  to {background-color: lightgrey;}
}

@keyframes example {
    from {background-color: ghostwhite;}
    to {background-color: black;}
}
