* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.animate1 {
  animation: background 2s infinite;
  -webkit-animation: background 2s infinite;
}
