.btn {
  display: block;
  position: fixed;
  background: ghostwhite;
  background-image: linear-gradient(to bottom, #fefff7, #fffcf2);
  padding: 15px 15px;
  border-radius: 35px;
  z-index: 1;
}

.btn .play {
  background-color: #B5B4B4;
  padding: 22px 22px;
  border-radius: 34px;
}

.btn .play:hover {
  cursor: pointer;
}

.btn .play:active {
  border-bottom: 1px solid #fff;
  margin: 1px;
  background-color: #B7B3B3;
}
