p {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  color: white;
  font-size: 37px;
  top: 6vh;
}

#about {
  line-height: 80px;
  position: relative;
  font-size: 34px;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
}

.create {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: underline;
  float: right;
}

.about {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 3px;
  right: 2px;
}
