.wrapper {
  width: 100%;
}

.from {
  position: fixed;
  color: white;
  font-size: 27px;
  line-height: 0px;
  margin-left: 50px;
  margin-top: -43vh;
}

.to {
  position: fixed;
  color: white;
  font-size: 27px;
  line-height: 0px;
  margin-top: 43vh;
  margin-left: calc(100% - 125px);
}

footer {
  position: absolute;
  top: 0;
  right: 0;
}
